form {
    text-decoration: none !important;
    border: none;
    box-shadow: none;
    display: inline-block;
    margin-top: -50px;
    margin-bottom: 5px;
    margin-left: 5px;
    background: transparent;
    padding-left: 5px;
    padding-bottom: 2px;
}
